
:root {
    --title-font: 'Mate SC', serif;
    --text-font:  'Merriweather', serif;
    --main-text-color: tan;
    font-size: 12px;
  }

html {
    height: 100%;
}

body {
    margin: 0px; 
    background: #0e0e0e; 
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--text-font);
}

.champ-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    width: 100%;
}

#autoComplete {
    font-size: 2rem;
}

.champions-container {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

#champ-splash {
    width: 100%;
    height: auto;
    border: 5px solid tan;
}

#champion-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--main-text-color);
    font-size: 4rem;
}

#champion-name {
    font-family: var(--title-font);
    font-size: 7rem;
}

#champion-title {
    font-family: var(--text-font);
    text-transform:capitalize;
    
}

#item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item {
    border: 2px solid tan;
}

.tooltip {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: #131712;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid tan;
    font-size: 1.5rem;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gold transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

attention {
    color: tan;
}

physicaldamage {
    color: crimson;
}

healing {
    color: seagreen;
}

magicdamage {
    color: #518CC4;
}

gold {
    color: gold;
}

@media only screen and (max-width: 1000px) {
    :root {
        font-size: 8px;
    }

    .champions-container {
        height: 75%;
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 6px;
    }

}