
:root {
    --title-font: 'Mate SC', serif;
    --text-font:  'Merriweather', serif;
    --main-text-color: tan;
    font-size: 10px;
  }

html {
    height: 100%;
}

body {
    margin: 0px; 
    background: #0e0e0e; 
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.champions-container {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

#champ-splash {
    width: 100%;
    height: auto;
    border: 5px solid tan;
}

#champion-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--main-text-color);
    font-size: 5rem;
}

#champion-name {
    font-family: var(--title-font);
    font-size: 7rem;
}

#champion-title {
    font-family: var(--text-font);
    text-transform:capitalize;
    
}

@media only screen and (max-width: 1000px) {
    :root {
        font-size: 8px;
    }

    .champions-container {
        height: 75%;
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 6px;
    }

}