
:root {
    --title-font: 'Mate SC', serif;
    --text-font:  'Merriweather', serif;
    --main-text-color: tan;
    font-size: 12px;
  }

html {
    height: 100%;
}

#body {
    margin: 0px; 
    background: url('images/oliver-chipping-sru-estshot.jpg') center no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--text-font);
}

.hidden {
    display: none !important;
}

.champ-head {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    flex-wrap: nowrap;
}

#autoComplete {
    font-size: 2rem;
    background-color: #0e0e0e;
    color: tan;
    border: tan 2px solid;
    border-radius: 8px;
}

.autoComplete_wrapper>ul {
    background-color: #0e0e0e !important;
    border: tan 2px solid;
    color: tan;
}

.autoComplete_wrapper>ul>li {
    background-color: #0e0e0e !important;
    color: tan !important;
    font-size: 2rem !important;
}

#reroll {
    width: auto;
    background: tan;
    background-size: cover;
    border-radius: 1em;
    border: tan 2px solid;
    border-radius: 8px;
    font-family: var(--title-font);
    font-size: 2em;
}

#reroll:hover {
    background: lightgoldenrodyellow;
    background-size: cover;
    border: lightgoldenrodyellow 2px solid;
}

#reroll:active {
    background: goldenrod;
    background-size: cover;
    border: goldenrod 2px solid;
}

.champ-selector {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: tan 2px solid;
    border-radius: 8px;
    background: tan;
}

.champions-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    background: rgba(0, 0, 0, 0.65);
    padding: 0em 3em;
}

#champ-splash {
    width: 100%;
    height: auto;
    border: 5px solid tan;
    border-radius: 8px;
}

#champion-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    font-size: 2rem;
}

#champion-name {
    font-family: var(--title-font);
    font-size: 6rem;
}

#champion-title {
    font-family: var(--text-font);
    text-transform:capitalize;
    
}

#item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: tan;
    border-radius: 8px;
    border: 3px solid tan;
    margin-top: 2.5em;
}

.item {
    border: 3px solid tan;
    border-radius: 8px;
}

img {
    border-radius: 8px;
}

.item-image {
    width: 100%
}

.tooltip {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 20em;
    background-color: #131712;
    color: #fff;
    text-align: center;
    padding: 5px;
    border: 3px solid tan;
    border-radius: 8px;
    font-size: 1.5rem;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gold transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

attention {
    color: tan;
}

physicaldamage {
    color: crimson;
}

healing {
    color: seagreen;
}

magicdamage {
    color: #518CC4;
}

gold {
    color: gold;
}

@media only screen and (max-width: 1000px) {
    :root {
        font-size: 8px;
    }

    .champions-container {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 6px;
    }

}